/SAM_IoT_Certs_Generator/SAM_IoT_nEDBG_Updater.X/dist/
/SAM_IoT_Certs_Generator/SAM_IoT_nEDBG_Updater.X/build/
/SAM_IoT_Certs_Generator/SAM_IOT_WINC_PROV_MSFT.X/dist/
/SAM_IoT_Certs_Generator/SAM_IOT_WINC_PROV_MSFT.X/build/
/SAM_IoT_Certs_Generator/SAM_IOT_WINC_PROV_Azure.X/dist/
/SAM_IoT_Certs_Generator/SAM_IOT_WINC_PROV_Azure.X/build/